[2014-01-29 15:59] bytespider opened #1 "Feature: Read from stdin and write to stdout"
It would be really nice if I could pipe in and out of this utility.

[2014-02-15 20:17] #1 closed, assigned to danielgtaylor

[2014-07-16 06:52] gunta opened #5 "WebP / PNG support (making jpeg-recompress more generic)"
Hi!

1) I would like to have something like **jpeg-recompress** that maintain the perceived visual quality, but for WebP and also for PNG.

2) I'm also thinking of something not only like `webp-recompress` and `png-recompress`, but in addition something bigger,
that could for example given a `jpeg-recompress --auto-format` option and a fixed `SSIM`,
choose automatically between a **JPEG** or **PNG

[2014-07-20 14:05] martinml opened #6 "Failed to detect 64-bit system"
_Debian wheezy 64-bit, inside VMWare Workstation (64-bit host OS)_

When building jpeg-archive it can't detect the bitness of the OS and it tries to load the 32 bit library instead:

[code]

I edited the `Makefile` and changed the `UNAME_P` variable to call `uname -m` instead of `uname -p`. Then jpeg-archive built perfectly! :+1:

I don't know about compatibility of this change in other systems, h

[2014-07-21 17:02] #6 closed, assigned to danielgtaylor

[2014-08-14 07:43] shinnn opened #7 "[jpeg-recompress] Support for baseline JPEG"
I want to compress an image into baseline JPEG.
What do you think about adding `-b --baseline` option to create baseline JPEG file (and disable progressive coding)?

Actually, mozjpeg supports `-baseline` option.

[2014-08-27 02:48] mgruesbeck opened #8 "-bash: /usr/local/bin/jpeg-recompress: cannot execute binary file"
Hey all,

I am on 32 bit Ubuntu. I have the latest mozjpeg and jpeg-archive. I copied the jpeg-archives binaries into /usr/local/bin/ and made sure there are +x.

However when I try jpeg-compress on an image it get: -bash: /usr/local/bin/jpeg-recompress: cannot execute binary file.

Is anyone else experiencing this?

[2014-08-27 03:29] #8 closed, assigned to nobody

[2014-09-07 07:12] shinnn opened #9 "[jpeg-recompress] stdin support"
I expect jpeg-recompress to read from stdin.

[code]

[2014-09-07 11:36] #9 closed, assigned to nobody

[2014-09-07 14:12] kevva opened #10 "Quiet mode for jpeg-recompress"
Would be quite nice to be able to disable output to stderr when optimizing images (if there isn't an error). Or write the information shown when optimizing to stdout and not to stderr.

[2014-09-16 16:38] danielgtaylor opened #11 "Windows Powershell / .bat support"
@Lykegenes, it looks like you have a bunch of Windows-specific scripts in your fork at https://github.com/Lykegenes/jpeg-archive/tree/master/run - any chance you want to merge them into the official repo so that they can be part of the Windows release? Is it possible to get feature parity with the `jpeg-archive` bash script?

[2014-09-17 17:37] #7 closed, assigned to nobody

[2014-10-06 10:15] steveh80 opened #12 "Text gets blurry after recompress"
Hi there,

first of all, thanks for that great work. We're considering jpeg-recompress to use in production, but we experience strange behavior when we have text in that image.

I've tried all different compression methods, but text gets blurry with all of them. See attached images. I even tried to use best quality and accurate settings:

`jpeg-recompress --accurate --quality veryhigh --min 100 im

[2014-11-24 20:01] jbhamilton opened #13 "Ubuntu/Debian needs libtool installed"
You should add libtool as a dependency for installing on Ubuntu & Debian

[code]

[2014-11-24 21:20] #13 closed, assigned to danielgtaylor

[2014-12-07 16:27] marocas opened #14 "imagemin-jpeg-recompress returns Error when compressing"
´´´´
$ npm install imagemin-jpeg-recompress
npm WARN package.json BY_Mailer@0.0.1 No repository field.
|

peg-recompress\node_modules\jpeg-recompress-bin

  √ jpeg-recompress pre-build test passed successfully

imagemin-jpeg-recompress@4.0.0 node_modules\imagemin-jpeg-recompress
├── is-jpg@1.0.0
├── through2@0.6.3 (xtend@4.0.0, readable-stream@1.0.33)
└── jpeg-recompress-bin@2.0.2 (logalot@2.0.0,

[2014-12-19 18:21] donaldallen opened #15 "Can jpeg-archive replace files?"
Whenever I run jpeg-archive, it puts everything into a Comp folder. Is there a way to have it replace the images it's recompressing?

[2015-01-05 18:04] kowpa1990 opened #16 "PPM pipe"
hi,

I have a problem with compressing images from standard input using jpeg-recompress.exe. The source files are different, so I have to use a program that opens various image files, eg. ffmpeg. + I use an additional program [BATCHENC](http://members.home.nl/w.speek/batchenc.htm). The problem occurs when streaming ppm to jpeg-recompress.

example
[code]
there is an error
[code]

example 2
ImageMa

[2015-01-07 13:30] tpetry opened #17 "compile error with mozjpeg 3.0"
jpeg-archive works with mozjpeg ``2.1`` but not with ``3.0`` released a few days ago:

[code]
The main problem is that homebrew has updated the mozjpeg formula to 3.0 and now you have to compile mozjpeg by your own to be able to compile jpeg-archive.

[2015-01-12 21:32] danielgtaylor commented on #17
This is merged in now with #18.

[2015-01-12 21:32] #17 closed

[2015-01-13 08:55] tpetry commented on #17
tagging a new release would be really usefull

[2015-01-15 18:07] danielgtaylor commented on #16
This should work. I'll investigate and try to figure out what is going on.

[2015-01-21 09:10] gunta opened #20 "Add support for JPEG2000"
Hi!
Would it be possible to add support for JPG2K?
At least supporting also libjpeg alongside with mozjpeg.

Thank you!

[2015-01-27 00:41] shinnn commented on #17
+1 for new release

[2015-02-13 08:31] Biozynotiker commented on #12
The text gets blurry, because jpeg-recompress allways produce jpeg's with chroma-subsampling.
All jpeg are saved with chroma-subsampling 2x2 (4:2:0). As far as i know, jpeg-recompress uses moz-jpeg source to create jpreg's, and moz-jpeg uses 2x2 as default.

It' would be nice, the next version has an option to keep the original sampling method (1x1,2x1,1x2) or compress all to 2x2.

And btw, thanks

[2015-02-21 17:21] nikitsaraf opened #21 "Error while compiling jpeg-archive"
I am trying to build jpeg-archive on Mac OS X Yosemite 10.10.2, and it is throwing me the following error.

[code]
Any ideas, may I missing any dependency ?

[2015-03-19 04:01] CoolOppo commented on #5
A generic tool like you said still sounds like a fantastic idea. I know I would definitely use it.

[2015-03-26 17:02] danielgtaylor commented on #21
@nikitsaraf please update homebrew (`brew update` if you are using it) and install the latest Mozjpeg, then try this again. You'll need at least Mozjpeg 3.0 now!

[2015-03-30 02:44] IllyaMoskvin opened #22 "Add support for TIFF input"
Thanks for this great tool! Would it be possible to add support for using TIFFs as the input? I'm a web developer at an art museum, working on automating image conversion for our website. It's pretty much the universal standard in the museum world to use TIFF as the archival format for object images. I could convert TIFFs to PPM and take it from there, but I'm running into some color balancing iss

[2015-03-31 16:19] danielgtaylor commented on #22
@IllyaMoskvin this is an interesting idea. I'll need to pull in at least one extra dependency, but it could work. For most use cases I suggest just using ImageMagick like you have described above.

I'll need to look into how to work with the color profiles before I can determine whether this is going to be relatively simple to implement. If anybody knows more about this, please do comment.

[2015-03-31 16:20] danielgtaylor commented on #17
A new release is coming soon, I just need to get everything compiled across the various operating systems and that takes a few hours of my free time.

[2015-04-01 09:00] clns commented on #21
If you've installed mozjpeg with Homebrew, then the [MOZJPEG_PREFIX](https://github.com/danielgtaylor/jpeg-archive/blob/master/Makefile#L6) used in the Makefile is not correct. Homebrew installs it in `/usr/local/opt/mozjpeg`. If so, you can [modify your Makefile](https://github.com/clns/jpeg-archive/commit/e1af352aa890a03ec41dceb0446c26c0454bbb90) or export MOZJPEG_PREFIX with the correct value.

[2015-04-03 16:34] danielgtaylor commented on #21
I've gone ahead and updated the default location to point to where Homebrew installs it in f1d2864. Please reopen the issue if you still have problems!

[2015-04-03 16:34] #21 closed

[2015-04-06 06:33] IllyaMoskvin opened #23 "Max bit depth is 24 (i.e. 8 bits per channel)"
Sorry, this isn't a bug per se, just a heads-up to anyone else who might encounter this issue. If the image you are trying to convert is more than 8 bits per channel, `jpeg-recompress` will throw an error: `Unsupported bit depth #####!`.

This is definitely something to watch out for when you are batch-converting with a custom script. I tried converting PPMs generated from 16 bpc TIFFs, and the im

[2015-04-08 15:41] danielgtaylor commented on #15
@donaldallen not at the moment. This is by design to make it very hard to delete the original files accidentally, especially if you aren't happy with the output. I'm not opposed to adding some kind of opt-in, but the default should always be to make a separate copy.

[2015-04-08 16:08] CoolOppo commented on #15
It's really not a good idea at all.

[2015-04-08 19:11] danielgtaylor commented on #12
I've gone ahead and added a method to set 4:4:4 sampling and it produces the correct image, but it compresses to 86% of the original size instead of 78%, so realize that this option may not be desired in the general case.

[2015-04-10 17:09] danielgtaylor commented on #12
This fix is now released in version 2.1.0.

[2015-04-10 17:09] #12 closed

[2015-04-10 17:47] Landen13 commented on #14
I have the same issue.

There are 2 jpgs, saved via Photoshop.

The first image was saved through Save As option (not optimized).

Error:
[code]

The second image was saved through Save For Web (progressive: true, quality: 61)

Error:
[code]

[2015-04-10 17:57] Landen13 commented on #14
Just checked: jpeg-recompress.exe DIDN'T throw any error, while compressing.

[2015-04-10 21:38] danielgtaylor commented on #14
@Landen13 do you have a link to a sample file? The link above is dead. I'd like to reproduce this problem locally.

[2015-04-11 02:50] Landen13 commented on #14
Yeah, here -> http://www39.zippyshare.com/v/he5mvWb6/file.html
This one was saved in Photoshop via Save As (basic/standard, quality 12/12)

[2015-04-11 03:23] CoolOppo commented on #14
Dude WTF! Don't go around posting adware sites. I went to that link on my phone, which is secured with the latest Chrome Beta version, and that opened up three popups, not to mention the ads all over the screen.

[2015-04-11 10:33] Landen13 commented on #14
Lol. Ok, here is the direct link > http://impressivesound.net/01.jpg

Sorry for that. I work with zippyshare from my desktop with Adblock, so there were no problems.

[2015-04-13 20:10] danielgtaylor commented on #14
@Landen13 I have downloaded your sample image and then done the following on Windows and it worked perfectly:

[code]

The output is identical on Mac and Linux. Can you try that command and see if it is still broken for you? If the command works, but the imagemin plugin fails, I would open an issue with the author of the plugin because it doesn't seem like it's a Windows issue.

[2015-04-13 20:39] shinnn commented on #14
I've commented: https://github.com/imagemin/imagemin-jpeg-recompress/issues/12#issuecomment-91639380

Updating jpeg-recomress binary which imagemin plugin depends on fixes the problem. It doesn't use the latest version (2.1.0) now.

[2015-04-14 08:39] Landen13 commented on #14
Daniel, i've already checked the command-line jpeg-recompress, and there were no problems.
But imagemin plugin fails, even the updated one v4.2.0 with 2.1.0.

[2015-04-15 14:56] shinnn commented on #14
@danielgtaylor As we discussed in https://github.com/imagemin/imagemin-jpeg-recompress/issues/12, Windows version of jpeg-recompress binary emits the error @Landen13 is running into, when it's used with stdin/stdout. (Please check @drazik's comment. https://github.com/imagemin/imagemin-jpeg-recompress/issues/12#issuecomment-93419590)

[2015-04-15 16:30] danielgtaylor commented on #14
@shinnn @Landen13 thanks, I'll look into the stdin/stdout issue on Windows and see what I can come up with.

[2015-04-15 19:03] #14 closed

[2015-04-15 19:16] danielgtaylor commented on #14
@shinnn @Landen13 please try the build artifact from here, which should include the stdin/stdout fix:

https://ci.appveyor.com/project/danielgtaylor/jpeg-archive/build/16/artifacts

If you can confirm then I can push a new patch release in the near future.

[2015-04-15 20:01] shinnn commented on #14
Sorry I'm not an actual Windows user.

@Landen13 @drazik Can you help us?

[2015-04-15 20:06] drazik commented on #14
Can't try it before tomorrow. I'll let you know asap.

[2015-04-15 20:06] Landen13 commented on #14
It worked!
I tryed jpeg-recompress.exe without -s parameter. The output image file is valid!

[2015-04-16 07:54] drazik commented on #14
Yep it worked for me too. That's great :) Thank you !

[2015-04-17 14:25] Landen13 commented on #14
@danielgtaylor, Would you update jpeg-archive with this fix? Gulp plugin imagemin-jpeg-recompress doesn't work now on Windows, and it would be updated only after the new release of jpeg-archive.

[2015-04-18 16:47] danielgtaylor commented on #14
Sorry I'm traveling on vacation at the moment but will push a new release
soon.

On Fri, Apr 17, 2015, 07:25 Bogdan <notifications@github.com> wrote:

[2015-04-21 07:12] #10 closed

[2015-04-21 07:14] kevva commented on #10
Sweet :+1:!

[2015-04-21 07:27] danielgtaylor commented on #16
@kowpa1990 this should now be fixed in the 2.1.1 release!

[2015-04-21 07:27] #16 closed

[2015-04-21 07:28] danielgtaylor commented on #14
This is now released with version 2.1.1. Thanks for the help debugging the problem!

[2015-05-03 11:13] werker opened #24 "jpeg-recompress crash with smallfry"
When I try to compress the following image with the smallfry method, jpeg-recompress crashes. I use the Windows binary (version 2.1.1).

http://i.imgur.com/YQYf8zc.jpg

Could the image dimensions 3000x1705 be the problem?

[2015-05-03 11:33] shinnn commented on #24
I can reproduce the problem on my Mac OS X 10.10.3.

[code]

Passing the image via STDIN also fails.

[code]

Without `-m smallfry`, it can produce a new image.

[code]

[2015-05-07 17:24] danielgtaylor commented on #24
Interesting, I'll need to look into this when I get a chance. Is this a new issue in version 2.1.x? Does it work for smaller images?

[2015-05-27 20:07] Biozynotiker commented on #24
smallfry crashes, because input images has uneven width/height. e.g. 1007 x 1001.

[2015-05-30 12:42] Biozynotiker opened #26 "[Request] Please allow more arguments to the "--subsample" switch"
Please allow more arguments to the "--subsample" switch.

Currently only 2x2 (default) and 1x1 (disable) is supported,
but there are plenty cameras available, that outputs 2x1 or 1x2 jpegs.
Transcoding these jpegs via jpeg-recompress are always too big (1x1),
or look often too ugly (2x2) (structure in red color areas, anti-aliasing, flat gradient etc.).

Sure, 2x2 is for the most jpegs enough qual

[2015-06-03 03:08] danielgtaylor commented on #26
Sure, I think adding a couple more options here is a good idea. I'm quite busy at the moment but will try to take a look at this sometime soon. Pull requests welcome if you are impatient :wink:

[2015-07-26 14:29] murkfletcher opened #27 "FreeBSD: Missing dependency operator"
Hi,

I'm trying to compile jpeg-archive as part of a greater effort to get image_optim (https://github.com/toy/image_optim) working on FreeBSD (https://gist.github.com/murkfletcher/36f662a1c0ab59ea0eac), but I'm getting:

[code]

Anybody know?

Thanks!

[2015-07-31 07:34] #27 closed

[2015-08-10 07:28] maadjordan opened #29 "Adding support for win32"
Please add support for win32 (x86) for xp --> win10

[2015-08-10 08:46] danielgtaylor commented on #29
@maadjordan can you describe how it is broken? I build 2.x on Windows via AppVeyor and it seemed to work for me in a virtual machine. What error are you getting?

[2015-08-10 10:52] maadjordan commented on #29
I'm getting this error on windows 10 32bit
![error](https://cloud.githubusercontent.com/assets/13726991/9169910/055587ae-3f67-11e5-90b3-a929658411dd.png)

[2015-08-14 13:30] danielgtaylor commented on #29
@maadjordan I've looked into this a bit and you are right. The build is being done by AppVeyor now and it uses a 64-bit version of Windows with a 64-bit version of MinGW. I'll see what can be done about making it a 32-bit build that should run anywhere. Thanks for reporting the issue.

[2015-10-01 12:27] javabean commented on #15
AFAIK, you can always ``jpeg-recompress -c image.jpg image.jpg`` which will happily overwrite your file with the optimized version.

[2016-03-06 21:44] nwmcsween opened #32 "Check permissions before writing output"
Currently jpeg-recompress segfaults when it cannot write to destination.

[2016-03-06 21:45] nwmcsween opened #33 "Remove bundled iqa"
This is a big headache for packaging jpeg-archive unless it has changes that cannot be merged upstream

[2016-03-06 21:48] nwmcsween opened #34 "Remove Makefile assumptions"
Currently the makefile assumes lib64 is a part of the filesystem, on debian with multiarch and other multiarch distros lib64 doesn't exist. There are also other issues such as no DESTDIR and assuming mozjpeg is in /opt. I currently just sed -i '/^ifeq/,/^endif/d' and LIBJPEG=$PREFIX/lib/lib...

[2016-03-07 17:47] denji opened #35 "Compatibility with libjpeg-turbo"
https://gist.github.com/sergejmueller/088dce028b6dd120a16e

Lossless and progressive optimization of multiple (random picked, less than 1 MB) JPEG images with [mozjpeg 2.0](https://github.com/mozilla/mozjpeg) and [libjpeg-turbo](http://libjpeg-turbo.virtualgl.org).

| Original Size | mozjpeg Size | libjpeg-turbo Size | mozjpeg Speed | libjpeg-turbo Speed |
| --: | --: | --: | --: | --: |
| 621 KB

[2016-04-08 11:56] abarre opened #36 "subsampling automatically detected"
I consider using jpeg-recompress at Fasterize. Fasterize automatically optimizes images from various websites.

So, images at the input may be uncompressed or already compressed at different levels.

1 - I wonder if there is a way to know if an image has already been compressed at a chroma subsampling 4:2:0 ?

2 - If my understanding is correct, jpeg-recompress picks the "right" quality score base

[2016-04-20 09:42] abarre opened #37 "More granularity for the strip option"
I need for some images to keep the color profile (ICC) in order to avoid color degradation. The original images is in AdobeRBG (rather than sRGB).

I see that jpegoptim has this kind of choice :
[code]

Do you know if keeping the ICC profile is easily feasible in jpeg-recompress ?

[2016-04-26 19:57] danielgtaylor commented on #33
@nwmcsween can you explain how this is a big headache? You should just consider the source of libiqa part of this project. IIRC it was difficult to get it all working and statically linking across platforms when trying to use the lib.

[2016-04-29 20:25] javabean opened #39 "Improvement: parallel folder compression"
Hi,

I enhanced your jpeg-archive script to be usable without any 3rd-party dependencies, and in-place compress either a single file or a whole folder (keeping all files meta-data).

You may want to include it in the project distribution (for which I of course grant you all rights):
https://gist.github.com/javabean/9ef827ea82268c1a9868ec617de3a1d8

[2016-05-09 13:21] abarre opened #40 "Consider other image comparison algorithm"
I see that there is a script called "butteraugli" that compare two images and give a score :  https://github.com/google/butteraugli

I think that could be an interesting addition for jpeg-recompress.

[2016-06-04 13:51] lorents17 opened #41 "JPEG Lossy"
I have an idea on optimization of JPEG Lossy

What is JPEG progressive? Actually it is a number of images where quality of each following image is higher previous the image.

 We will take this image

![content](https://cloud.githubusercontent.com/assets/3890881/15799867/bfcce6a2-2a73-11e6-92db-442324f2075d.jpg)

[JPEG Scan Killer](http://encode.ru/threads/1800-JSK-JPEG-Scan-Killer-progressive-JPE

[2016-06-05 11:29] sinconix opened #42 "Generic image-compare"
Please consider allowing jpeg-compare to take two (instead of one) uncompressed PPM images.
This would make it much more flexible and for comparing other image compressors.

[2016-06-13 15:06] #41 closed

[2016-06-13 23:00] danielgtaylor commented on #40
This is very interesting! Anybody want to try adding it? Note that it requires getting gamma information from input images and preprocessing pixels before running the diff algorithm.

[2016-06-22 07:53] maadjordan opened #43 "Adding PPM export to JPEG-recomrpess"
Please allow for export in PPM to allow using the matrix methods on different formats (JP2 or others)..

[2016-06-24 18:48] tseven commented on #24
I can confirm the bug exists on 2.1.1 for OS X.
The image it was crashing on for me was 608x505 which supports @Biozynotiker conclusion.

[2016-07-08 00:13] kirillgroshkov commented on #24
Have the same issue. Have 2 images, looking pretty similar:
1. http://i.imgur.com/2JXLpSW.jpg (727x433)
2. http://i.imgur.com/KBITtnU.jpg (735x431)

First one crashes on 'smallfry' method, the second one doesn't. They both have uneven dimensions. The exact command line is:
jpeg-recompress.exe -m smallfry Skoda_Fabia_RS2000_Concept_Car_2011_Ferrari_Red_White_Steels_1.jpg

If I disable subsampling -

[2016-07-23 23:59] IllyaMoskvin opened #45 "jpeg-archive.sh missing from jpeg-archive-2.1.1-win.zip"
I've run into #16, and I was looking to upgrade my version of `jpeg-archive` to release v2.1.1 to see if it would fix the issue. I might be confused, but it seems that the Windows zip for v2.1.1 is missing `jpeg-archive.sh`, which was included with v2.1.0.

I believe this is not an issue in my case, since I just use `jpeg-recompress` directly, but I wanted to bring it to your attention in case the

[2016-07-24 01:32] IllyaMoskvin commented on #16
As an aside for any troubleshooters passing through, I got the `Incorrect image size!` error while processing some TIFF files. It turned out that several of the TIFFs were layered. When opened in Photoshop, they contained a single layer that hasn't been flattened into the background. Programmatically, they were thus interpreted as having *two* layers, with interesting implications.

Hitting them w

[2016-08-14 16:09] GiottoVerducci opened #46 "jpeg-recompress - the output file could optionally have the same creation date and time"
I use the date and time to remember when a picture was taken, it would be great if that that date/time was transferred to the new file as an option of jpeg-recompress.

[2016-09-25 19:54] javabean commented on #46
You will get that behavior by using my own wrapper script: see #39 or https://gist.github.com/javabean/9ef827ea82268c1a9868ec617de3a1d8 :-)

[2016-10-18 15:18] Dexus commented on #24
Will this ever reviewed and maybe fixed?
Or do i neet to always to cut a pixel to make it round width and heigh?

[2016-10-18 17:47] Dexus commented on #24
gdb:
[code]

gdb bt full:
[code]

[2016-12-13 21:35] dmak opened #48 "Add lossless image format support for jpeg-compare"
Thanks for nice tool.

It would be great if `jpeg-compare` could also read any lossless format like PNG or TIFF, using it as a "baseline". For example, I would like to compare the original image with two different derived JPGs. Now I have to convert PNG into JPG with quality=100 and use it as a "baseline".

[2016-12-13 22:46] dmak opened #49 "Segfaults in jpeg-compare"
Two test cases:
- `jpeg-compare right_move_bg.jpg right_move_bg.jpg`
`Segmentation fault`
Download: [right_move_bg.jpg](https://www.dropbox.com/s/0t8ueagi1imp7il/right_move_bg.jpg?dl=1)

- `jpeg-compare line.jpg line.jpg`
 `*** Error in jpeg-compare: free(): invalid pointer: 0x8055b220 ***`
`======= Backtrace: =========`
`/lib/i386-linux-gnu/libc.so.6(+0x6929b)[0xb761429b]`
`/lib/i386-linux-gnu/li

[2017-01-06 14:54] abarre opened #50 "bug : progressive jpeg"
If `image-archive` fails to find a better quality for a given image, the resulting image is not encoded in progressive mode even if the option has been set.

The expected behavior is to get a progressive image as a result with the same quality.

[2017-01-19 00:32] Yoshiyuki-Ogawa commented on #46
# Prologue

**I know this is a wrong place to post my batch files, but searching the internet like:allintitle: file "same creation date" - Google Search, I found only this site.
So, let me introduce and post my batch files here, with which I make "clone files".
By "clone files" I mean the creation date of files are kept while copying.
**

#They are：#

1. bak_0_P2_addTFolderNamemovecopyback_en.bat

[2017-01-19 03:04] Yoshiyuki-Ogawa commented on #46
I tried to upload the files above, to no avail.
The .bat files and the .reg files can't be uploaded.

Yoshiyuki Ogawa

galileoOgalilei@aol.com

[2017-01-19 03:42] Yoshiyuki-Ogawa commented on #46
Please see also the: "macos - Batch copy time creation and modification date from files using OSX - Ask Different.html" (http://apple.stackexchange.com/questions/244113/batch-copy-time-creation-and-modification-date-from-files-using-osx/269412#269412)

Yoshiyuki Ogawa

galileoOgalilei@aol.com

[2017-01-19 09:49] javabean commented on #46
@Yoshiyuki-Ogawa,

You can post your files as GitHub Gists, like I have done for UNIX-based OSes (see my 1st comment).
As for copying file attributes (including file times) on Mac OS, see my gist ("darwin").

[2017-01-27 22:27] laszbalo opened #51 "[ jpeg-recompress ] output has lower quality then expected"
Hi!

When I have ran jpeg-recompress with the following paramters:
[code]
I got:
[code]

However, if I check the output with identify -verbose, it says that the quality of the output is only 85.
Also, when using other compression tools, I got a comparable file size at quality 85.
Has anybody experienced this issue?
With thanks,
Laszlo

[2017-02-02 14:32] elisoncampos opened #52 "Can jpeg-archive compress file from buffer?"
Is it possible to compress a file that is not written to the disk? Like, use it in an AWS lambda process so I could compress uploaded files? When you download a file from S3 to use it in lambda all i have is their buffer. I could write it to disk, then compress and upload but that would add processing time that could be saved.

thanks in advance.

[2017-02-13 17:13] Yoshiyuki-Ogawa commented on #46
@javabean

You can post your files as GitHub Gists, like I have done for UNIX-based OSes (see my 1st comment).>

Can't make out what you mean by the above sentence.

I do not know where to look for the information you have given in the sentence above.

Seems it concerns "Gists" thing.

I am working on it now.

However, for the time being, I think I'll try a workaround as follows:

As an workaround

[2017-02-13 19:48] javabean commented on #46
@Yoshiyuki-Ogawa when logged in to GitHub, go to https://gist.github.com and you can copy-paste text files for public view.

[2017-02-15 04:07] szepeviktor commented on #51
Try looking at https://github.com/mozilla/mozjpeg/issues/181#issuecomment-118382243

[2017-02-15 08:47] abarre opened #54 "Using jpeg-recompress with CYMK color system"
We detected that jpeg images in the CYMK color system were not supported by jpeg-recompress.
However, mozjpeg seems to support this color system.

[code]

I tried to use `jpegoptim` on the same image that also leverages on mozjpeg and jpegoptim correctly compresses the image.

I think that the right color system is not correctly detected by jpeg-recompress and thus jpeg-recompress doesn't correctl

[2017-02-17 18:43] #35 closed

[2017-03-14 15:55] marcing commented on #24
+1 I have it on multiple images, size does not matter.

[2017-03-16 11:33] aidin36 commented on #32
The segmantation fault happens if some how application can't open the output file: permission problems, the path does not exists, etc.

[2017-03-16 18:47] saurabheights opened #56 "Integration with Guetzli by Google"
More info here at the [official repo](https://github.com/google/guetzli) and the [blog](https://opensource.googleblog.com/2017/03/guetzli-new-open-source-jpeg-encoder.html?m=1).

[2017-03-17 17:14] danielgtaylor commented on #56
I was just about to open the same issue to investigate :smile:

Seems they require 300mb per megapixel of image, which is incredibly high. The project is also written in C++ which will make it more difficult to integrate, but it should be doable. I don't have a ton of time right now but here are some things to do:

- Figure out actual memory use for a typical photo. Can this be run on an average c

[2017-03-17 17:30] saurabheights commented on #56
Yes @danielgtaylor, let me be clear that guetzli is not ready for production. It takes good amount of time, coupled with use of 5GB memory for 24MP memory(I just commented this [here](https://github.com/mozilla/mozjpeg/issues/242)) makes it unusable for 32-bit systems. It's also too slow for people who process thousands of images a day. Just imagine the cost of number of servers to use. But that d

[2017-03-22 09:05] xberg opened #57 "How can I use ladon or jpeg-archive in windows?"
Hi,
I was unable to find a ladon or a jpeg-archive windows executable. Could you please kindly add the instructions so that I can execute your very promising jpeg-recompress on multiple recursive JPG in windows?
I saw a while a ago one of your users proposed a branch to allow recursive processing directly in jpeg-recompress: was this never adopted?
thanks and keep up the good work!

[2017-03-22 15:41] xberg opened #58 "Some JPG break jpeg-recompress with -smallfry"
Hi,
I have a few JPG that break jpeg recompress with I use the method smallfry. I am running the windows executable V2.1.1. No error message: just a windows popup that jpeg-recompress has stopped running.
It breaks just after displaying "Metadata size is xx kb".

If I use ssim as a method on the same files it's OK.
This happened on about 15 to 20% of tested files.

[2017-03-25 16:00] javabean commented on #57
Not sure about this (I haven't tested), but you may have some success by using my wrapper in Cygwin (or equivalent): https://gist.github.com/javabean/9ef827ea82268c1a9868ec617de3a1d8
You may have to adjust the autogestion of the number of CPU cores, but it should otherwise work as-is.

[2017-03-25 16:26] javabean commented on #52
Reading from the source code, I believe current version requires a file on disk.
Have you tried to "stream" your memory buffer through a UNIX FIFO pipe (`man mkfifo`), and using that as an input "file"?

[2017-04-05 12:55] prdolmos commented on #58
It has to do with the images' dimensions:

https://github.com/danielgtaylor/jpeg-archive/issues/24

[2017-04-09 18:38] shtse8 commented on #48
I need this feature too.
I want to compare png using SSIM.

[2017-06-04 11:12] bydbest opened #59 "version `glibc_2.14' not found centos"
i am getting error version `glibc_2.14' not found centos when i checked with yum it shows 2.12 .i tried to change version no in bash file but it is unreadable. can you please  tell which release uses 2.12 glibs .i am using centos 6.8 and i checked the latest release through yum update and in their repo. its 2.12 only.
i can see only bash file that too without .sh extension. plz tell i have to make

[2017-06-27 03:40] pastelsky opened #60 "Possible to add support for Three-component SSIM ?"
According to [wikipedia](https://en.wikipedia.org/wiki/Structural_similarity#Three-component_SSIM), this algorithm is a variation of SSIM that has following advantages

Adding this would help in cases when preserving the image texture is important.

[2017-07-15 14:41] nikant opened #61 "(not issue) some of windows users of jpeg-recompress might find this useful"
Wrote this command file for myself in order to run jpeg-recompress (in Windows) over directories with multiple jpeg files used in web developing.
It creates a context menu in right click over dirs to run recompress and jpeg-compare.

Thought to share it just in case someone finds it useful..
More info here: https://github.com/nikant/jpeg-recompress-win-context

[2017-07-17 08:26] kanyck opened #62 "app-archive doesn't build on Gentoo Linux"
$ make
cc -std=c99 -Wall -O3 -I/opt/mozjpeg/include -c -o src/util.o src/util.c
src/util.c: In function 'encodeJpeg':
src/util.c:145:13: warning: implicit declaration of function 'jpeg_c_int_param_supported' [-Wimplicit-function-declaration]
         if (jpeg_c_int_param_supported(&cinfo, JINT_COMPRESS_PROFILE)) {
             ^
src/util.c:145:48: error: 'JINT_COMPRESS_PROFILE' undeclared (first u

[2017-07-25 18:13] AnFlare commented on #29
Why is this issue closed? I have absolutely the same error with latest downloaded build.
(win10, if this helps)

[2017-07-29 09:07] maadjordan commented on #29
please use the version from file-optimizer package https://sourceforge.net/projects/nikkhokkho/files/FileOptimizer/

you can activate lossy optimization through fileoptimizer.ini available in main user folder.

[2017-08-01 07:45] xberg opened #63 "When compiling on Windows : undefined reference error"
Hi,
followed your tutorial on how to compile on windows.
At the last command:

`CC=gcc mingw32-make1`

I get about 20 errors such as:
src/util.o:util.c:(.text+0x192): undefined reference to `jpeg_std_error'

and finally:
collect2.exe: error: ld returned 1 exit status

[2017-08-31 12:06] Groschi opened #64 "Support for SSIMulacra?"
The SSIMulacra metric promises significant Improvements over MS-SSIM. Among other things, it might finally solve the issue where images with a big, uniform background and a small detailed object in the foreground get way too high scores, despite the foreground object being horribly garbled.

Any chance of this being implemented in jpeg-recompress?

http://cloudinary.com/blog/detecting_the_psychovi

[2017-09-14 22:42] liminspace opened #65 "Is this repository dead?"
Hi there!
Is this repository dead and jpeg-archive is no longer supported?
Is there any alternative utility like this?

[2017-12-02 07:21] lfos commented on #65
Not anymore! I just started merging PRs and fixing open tickets...

[2017-12-02 07:21] #65 closed

[2017-12-02 07:22] lfos commented on #49
Fixed in commit 7ef223e (Fix computation of buffer sizes, 2017-11-29).

[2017-12-02 07:22] #49 closed

[2017-12-02 07:23] lfos commented on #57
Not sure about Windows but jpeg-archive now also supports GNU Parallel. Closing this for now...

[2017-12-02 07:23] #57 closed

[2017-12-02 07:25] lfos commented on #34
This was partly addressed by 539c541 (Makefile: fix compilation under 64-bit Linux systems, 2017-11-29)... What else is missing? Only `DESTDIR` support?

[2017-12-02 10:17] lfos commented on #24
I just tried to reproduce this with current master but everything works fine for me... Does this only happen under OS X and Windows?

[2017-12-02 10:33] lfos commented on #59
Sorry, but it is quite hard to parse your bug report. Does the issue persist? Did you compile jpeg-archive from source or did you install it via your package manager? When exactly does the error occur?

[2017-12-02 10:34] lfos commented on #62
I guess you need to install those include files then...

[2017-12-02 10:36] lfos commented on #63
Did you install MozJPEG and configure the path to the MozJPEG library/include files correctly? You should be able to roughly follow the instructions in https://github.com/danielgtaylor/jpeg-archive/blob/master/appveyor.yml.

[2017-12-02 10:41] #15 closed

[2017-12-02 15:55] szepeviktor commented on #34
And in https://github.com/danielgtaylor/jpeg-archive/commit/5deeed22d8f59fcdce4d527b2d9ee4fc08177a9f#diff-354f30a63fb0907d4ad57269548329e3R16

[2017-12-02 18:08] szepeviktor opened #66 "Rough Debian packaging"
~~Today I've make this script.
https://github.com/szepeviktor/debian-server-tools/blob/master/package/jpeg-archive-jessie.sh#L13-L16~~

*I am not satisfied with kind of packaging.*

[2017-12-02 18:08] szepeviktor commented on #66
Available here: http://szepeviktor.github.io/

[2017-12-02 18:26] szepeviktor opened #67 "Missing licence"
Please consider adding one.

[2017-12-02 18:27] szepeviktor commented on #67
Although a licence file is missing, here is something: https://github.com/danielgtaylor/jpeg-archive#license

[2017-12-02 18:27] #67 closed

[2017-12-02 20:45] szepeviktor commented on #66
https://github.com/szepeviktor/debian-server-tools/blob/master/package/docker-backport-jpeg-archive.sh

This script builds mozjpeg separately but in the same container, then packages jpeg-archive.

[2017-12-02 20:47] lfos commented on #66
What's this ticket about, though?

Maybe you can upload your script to Docker Hub or something?

[2017-12-02 20:51] szepeviktor commented on #66
@lfos I was planning to add my /debian dir to this repo:
https://github.com/szepeviktor/debian-server-tools/tree/master/package/jpeg-archive/debian

[2017-12-09 08:53] lfos commented on #42
Both arguments to jpeg-compare can now be PPMs and, even better, jpeg-compare now auto-detects file types. So you can simply call `jpeg-compare 1.ppm 2.ppm` without any further options.

[2017-12-09 08:53] #42 closed

[2017-12-09 08:53] lfos commented on #58
Closing this as it seems to be a dupe of issue #24.

[2017-12-09 08:53] #58 closed

[2017-12-09 08:55] lfos commented on #32
Fixed in f1650a4 (Check whether output file was opened successfully, 2017-03-16).

[2017-12-09 08:55] #32 closed

[2017-12-09 08:55] #23 closed

[2017-12-09 08:55] #66 closed

[2017-12-09 08:55] #61 closed

[2017-12-09 11:12] szepeviktor commented on #66
@lfos Excuse me, I mean add it to the jpeg-archive repo.

[2017-12-09 11:14] szepeviktor commented on #66
This is the script that does it all:
https://github.com/szepeviktor/debian-server-tools/blob/master/package/docker-backport-jpeg-archive.sh

[2017-12-09 13:15] lfos commented on #66
Not sure. What is the benefit of having it in the jpeg-archive repo?

[2017-12-09 14:26] szepeviktor commented on #66
Anyone could build the package!

[2017-12-10 13:58] lfos opened #69 "Add external comparison tool support to jpeg-recompress"
In order to support more than the comparison algorithms implemented as part of jpeg-archive (see #40, #60, #64), jpeg-recompress should be able to use an external comparison tool.

[2017-12-12 17:05] lfos opened #70 "Standardize jpeg-compare output"
With the `fast` method, jpeg-compare currently only prints a number. With every other method, it prefixes the number with the method name itself. I think we should always only print the number. Doing this by default breaks backwards compatiblity. So we either have to mention the change in the release notes or add a command line switch to enable the new behavior.

[2017-12-12 17:07] lfos commented on #51
So, I guess we can close this...?

[2017-12-12 17:10] lfos commented on #43
Not sure. The main purpose of jpeg-recompress is to recompress the input as a JPEG with given quality constraints... We cannot use another output format (especially not a lossless format) for this.

[2017-12-12 17:15] lfos commented on #39
Thanks for writing this script, it might be helpful to people who do not have access to Ladon or GNU Parallel (the jpeg-archive script now supports both of them). I do not think reinventing the wheel and having something with less dependencies is worth the additional maintenance burden in mainline, though. Closing this and keeping it as a reference for people looking for such a script in the futur

[2017-12-12 17:15] #39 closed

[2017-12-20 00:08] dunstan opened #71 "Looking for some clarification on the code's capabilities"
I initially thought from the documentation that I could run jpeg-recompress  against a high quality jpeg and it would produce a visually identical jpeg at a reduced file size: "Compress JPEGs by re-encoding to the smallest JPEG quality while keeping perceived visual quality the same ... This is a lossy operation, but the images are visually identical..."

However, two things confuse me and I wonde

[2017-12-20 07:08] lfos commented on #71
Being "visually identical" is not a Boolean property. If the image is small enough (or you are far away), every pair of images becomes "visually identical". Conversely, with massive zooming and contrast, every pair of (not 100% identical) images becomes "visually distinguishable". There always is a tradeoff between space efficiency and visual quality. That is why we have the different quality opti

[2018-01-09 18:08] #70 closed

[2018-01-11 18:04] mika-s opened #74 "min can be larger than max in jpeg-recompress"
I'm not sure if this really is an issue or not.

The `min ` argument is allowed to be larger than the `max` argument. jpeg-recompress will run like this:

**jpeg-recompress.exe original.jpg new.jpg  --quality low --max 10**
[code]

[2018-01-11 18:57] mika-s opened #75 "jpeg-recompress can pick a JPEG quality larger than max"
jpeg-recompress will usually pick JPEG quality values that are far from the `min` and `max` edges. However, in many cases, the quality converges towards `max` because `max` is small and the metric is smaller than the target. This will cause `min` to increase to a larger value than `max` and the final JPEG quality is higher than `max`. Take, for instance, [this](https://i.imgur.com/50VwRNE.jpg) ima

[2018-01-23 16:27] maadjordan opened #77 "Adding support for larger files"
I've tested latest built (2018_01_18) on jpegmini sample file from blog.jpegmini.com/jpegmini-pro-for-windows-can-now-optimize-photos-up-to-128mp/

the built has failed. please check it

[2018-01-23 16:48] maadjordan commented on #43
The aim is to open the provided methods to other formats. It will be a step in the direction of video support

[2018-01-23 16:48] #43 closed

[2018-01-23 18:19] lfos commented on #43
I still do not understand. The purpose of jpeg-recompress is to find the optimal compression ratio (such that the resulting image is as small as possbile without sacrificing visual quality). How can this possibly work with a lossless image format?

[2018-01-25 16:56] amughrabi opened #79 "An inquiry about the maximum size a jpeg-recompress image"
I wish to have an answer about the maximum pixel dimensions of a jpeg-recompress image; for instance, what is the maximum image width and height (W x H) for the source image before calling it via command line?

Please note that [Mozjpeg](https://github.com/mozilla/mozjpeg/issues/277) defined it as 65500x65500 pixels. Could you please confirm if jpeg-recompress has the same pixel dimensions? if not

[2018-01-27 10:31] lfos commented on #77
What do you mean by "the built has failed"? Please provide more information.

[2018-01-27 10:34] lfos commented on #79
I do not think we have any explicit limits, other than the mozjpeg limit and obvious limits imposed by the environment (e.g. memory limits).

[2018-01-27 11:32] amughrabi commented on #79
Thanks, @lfos!

[2018-01-27 11:32] #79 closed

[2018-01-27 14:25] maadjordan commented on #43
Beamr has brought jpeg-mini method from still jpeg image to video. if smallfry can be added to FFmpeg as filter to would help in producing a smaller video files. I've roughly tested jpeg-recompress on video files with mjpeg compression (its frames are jpeg without the huff coef header). I've added example file
[MJPEG_sample.zip](https://github.com/danielgtaylor/jpeg-archive/files/1670133/MJPEG_sam

[2018-01-27 14:29] maadjordan commented on #77
sorry its my mistake. i used wrong commands. the result is:

original: 70,390,888 bytes
jp-reco: 18,955,051 bytes
jp-mini:  32,323,908 bytes

[2018-01-28 11:08] #77 closed

[2018-01-28 11:09] lfos commented on #43
Extending to videos makes sense. Extending to a lossless image output format (such as PPM) does not.

[2018-01-30 14:43] craigcarnell opened #80 "cc: error: /opt/mozjpeg/lib/libjpeg.a: No such file or directory"
Build system is Ubuntu 16.04, 64-bit.

uname -m
[code]

/opt/mozjpeg/lib64 is installed but not in lib as below, hence the error?

I only recently had this error, but I haven't rebuilt in a long time.

[code]

[2018-02-05 23:26] shanemhansen commented on #80
I symlinked lib64-> lib and it solved my problem.

[2018-02-18 03:35] josephbisch opened #82 "segfault in decodePpm"
A segfault happens in decodePpm.

[code]

[2018-02-20 03:40] renanreis commented on #80
Thanks to @shanemhansen
You just need run `sudo ln -s /opt/mozjpeg/lib64/ /opt/mozjpeg/lib`

[2018-02-23 06:09] #82 closed

[2018-03-01 19:26] z0mb1ek opened #83 "new version of libs"
Hi. big thx for this projects. have you thought about building new version of binaries with new mozjpeg and other libs versions?

[2018-03-13 21:18] rikonor opened #84 "Failure to read from stdin"
Hi,

The following fails:
[code]

The following succeeds:
[code]

Based on https://github.com/danielgtaylor/jpeg-archive/issues/9 I was hoping to be able to stream a file via stdin.

I had also tried doing something similar using named pipes:
[code]

In the above, `terminal 1` will finish, but `terminal 2` and `terminal 3` will hang forever.

Tested all of the above on linux and osx.

[2018-03-14 21:27] rikonor commented on #84
This should be solved by https://github.com/danielgtaylor/jpeg-archive/pull/85

[2018-03-15 00:08] rikonor opened #86 "SSIM mismatch between jpeg-recompress and jpeg-compare"
I noticed `jpeg-compare` seems to output a different ssim then `jpeg-recompress`.

[code]

[2018-03-22 18:52] marcing commented on #24
For me it happens on windows, but only for some JPEGs.

[2018-03-25 19:14] dwest100 opened #88 "Output message question"
Hi,
What does “terminated by signal 11” mean in the screen output?
Thanks!

[2018-03-26 21:43] marzulo commented on #62
brew install mozjpeg solves the problem

[2018-04-02 11:23] lfos commented on #88
It means that there was a segmentation fault... Maybe you could get a core dump?

[2018-04-20 16:04] stuaxo opened #89 "Lib location should be /opt/mozjpeg/lib64 on 64 bit ubuntu"
Editing the makefile makes this compile on 64 bit ubuntu

[2018-05-01 10:40] szepeviktor opened #90 "Next release"
Are there plans to release the next version of jpeg-archive?

[2018-05-13 13:57] lfos commented on #89
You can set `MOZJPEG_PREFIX` when running make(1). No need to edit the Makefile.

[2018-05-13 13:57] #89 closed

[2018-05-13 13:58] lfos commented on #88
Please reopen and provide more details if the issue persists.

[2018-05-13 13:58] #88 closed

[2018-05-13 14:01] lfos commented on #86
Unfortunately, I cannot reproduce the issue. Could you maybe provide your `test-1.jpg`?

[2018-05-14 10:04] stuaxo commented on #89
I don't think that would work as it appends /lib to the location, but the library is in lib64.

64 bit debian and ubuntu are fairly popular distros, is there any chance the location could be supported out of the box?

[2018-05-20 19:36] lfos commented on #80
Should be fixed by 2764fca (Link against lib64 mozjpeg on multi-arch systems, 2018-05-15).

[2018-05-20 19:36] #80 closed

[2018-05-20 19:59] lfos commented on #74
Fixed in 68dcd25 (Ensure minimum quality is smaller than maximum quality, 2018-05-20).

[2018-05-20 19:59] #74 closed

[2018-05-20 19:59] lfos commented on #75
Fixed in 92a69ec (Ensure the quality stays within the given bounds, 2018-05-20).

[2018-05-20 19:59] #75 closed

[2018-05-20 20:15] lfos commented on #84
Fixed in 76b1868 (Only read input once, 2018-03-14).

[2018-05-20 20:15] #84 closed

[2018-05-20 20:16] lfos commented on #52
Fixed in 76b1868 (Only read input once, 2018-03-14).

[2018-05-20 20:16] #52 closed

[2018-05-20 20:26] lfos commented on #59
Closing for now. Please provide more details...

[2018-05-20 20:26] #59 closed

[2018-05-25 05:39] chregu opened #92 "Something changed with jpeg-compare and ppm since #87"
I get way lower ms-ssim and ssim values since #87 was merged when using ppm as input

Before:
[code]
After:
[code]

I can't figure out exactly why or how to solve it, even though the change was really small  (it was actually this commit https://github.com/danielgtaylor/jpeg-archive/pull/87/commits/8237f909fa433fbd9aec876160e6df1fe7f6be7b , but since that tries to solve another problem, I don't kno

[2018-05-25 14:05] lfos commented on #92
Fixed in 32b0239 (Fix grayscale conversion in compareFromBuffer(), 2018-05-25) -- thanks for reporting!

[2018-05-25 14:05] #92 closed

[2018-05-30 09:18] adityapatadia commented on #90
Lot of commits since last release. We would appreciate a release.

[2018-06-12 12:00] alanorth commented on #90
I don't mind compiling from source, but some GNU/Linux distributions can't/won't package new versions unless there are tagged releases. Arch Linux currently packages version 2.1.1, for example, and says there [must be "a newer stable release" in order to flag a package as out of date](https://www.archlinux.org/packages/community/x86_64/jpeg-archive/flag/).

[2018-06-12 12:02] szepeviktor commented on #90
Related https://github.com/danielgtaylor/jpeg-archive/issues/83

[2018-06-15 15:23] zvezdochiot opened #93 "dynamic metrics libraries"
I made an implementation with dynamic metrics libraries.

https://github.com/zvezdochiot/jpeg-archive

Suddenly it is interesting?

[2018-07-06 14:20] #93 closed

[2018-07-12 07:03] WindowsNT opened #94 "Excellent"
Excellent tool, I just made a multicore windows wrapper:

https://www.turboirc.com/trc

Only x64 though, binaries build only for x64. Perhaps jpeg-compress should be compiled as 32bit as well.

[2018-07-14 07:47] lfos commented on #94
Thanks! I will see what we can do with 32-bit compilation!

[2018-07-14 07:47] #94 closed

[2018-07-28 11:45] sourcejedi opened #95 "jpeg-recompress runs multiple loops with exact same quality"
`jpeg-recompress` performance would benefit from an early-termination check, when the quality range is narrow :-D.

[code]

E.g. reducing to `--loops=4` brought down the time per image from 2.22 seconds to 1.67, a performance improvement of 33%.

---

Thanks for the software!  I'd probably be happy with mozjpeg q=90, but being able to vary the quality over a small range in that area is even better

[2018-07-29 10:26] sourcejedi opened #96 "Would you like a very simple jpegcheck script?"
I think it would be good to have a simple `jpegcheck` script, given the "-archive" in the name of this project. Would you like me to send one?

[code]

## motivation

The intent is to flag up if jpegs start suffering obvious corruption from storage faults or crashes. You can scan for bad jpegs on your online storage, before you overwrite the old backup that has the old non-corrupted version of the

[2018-08-18 16:42] #90 closed

[2018-08-18 16:53] lfos commented on #95
Fixed in 8da4bf7. Thanks for reporting!

[2018-08-18 16:53] #95 closed

[2018-08-20 22:33] Zcehtro opened #97 "jpeg-recompress Feature request: Simple timestamp manipulation: arg to optionally preserve timestamps"
I'd like to process this on ALL my JPG's.
However, doing so would override all the timestamps for Date Modified.
Could you implement a feature to preserve the file's timestamps?
I suppose it would word like: get file, get current timestamps, store timestamps, process file, apply stored timestamps, next file...
A simple argument would do it.

Am using this a lot. Great work and thank you!

Currentl

[2018-08-21 03:56] lfos commented on #97
Duplicate of #46.

[2018-08-21 03:56] #97 closed

[2018-08-31 08:34] shailenderjain opened #98 "PSNR for comparison in the jpeg-recompress"
Hello, There is no method to use PSRN in the jpeg-recompress. Is this feasible to add the same?

[2018-08-31 08:40] shailenderjain commented on #98
Just had a look at the code and i think this should be very straight forward task. I will try to edit the code. What is the process to check in?

[2018-09-23 09:28] biltongza opened #99 "jpeg-recompress hangs on this image"
I use the Lightroom plugin from https://github.com/ftischhauser/JPEGOptimizer/ which uses jpeg-recompress. As part of my export process I have jpeg recompression enabled, and it is failing reliably on one of my images.

I caputed the command line it is using and tried running it myself, and it seems to just hang when I run it. In Lightroom, the recompression just fails immediately.

    jpeg-recom

[2018-10-27 16:46] pavelxkrejci opened #100 "recompressing small files can result in creating larger files"
Metadata added by jpeg-recompress can outweight the savings from recompression of small files. The logic for output size calculation and checking ignores size of all metadata and this can result in creating output files larger then original files in some cases.
Example file included: ![m](https://user-images.githubusercontent.com/3956353/47606646-57aea880-da16-11e8-8423-a3dd1be63a38.jpg)
Command u

[2018-11-07 17:54] rsuzuki0 commented on #99
I run a similar operation on Mac and observed the same problem since earlier version and with the current version. The problem only occurs with smallfry. The problem happens with maybe about one out of 20 images, exported from Lightroom.

[2018-11-07 18:00] rsuzuki0 commented on #24
This happens to me about 1 out of 20 JPEGs and also only with smallfry. The problem is image-specific and reliable.

[2018-11-13 14:16] davidenco opened #101 "ms-ssim method ignoring target value?"
I am using the default target of `0.9999` and the `ms-ssim` method, but I've noticed the output quality is always what the `min` setting is set to, as follows:
[code]
If I specify the target and use the same value as the default, I get completely different results:
[code]

[2018-11-23 20:20] Elimelech opened #102 "freeBSD: Undefined symbol "jpeg_c_int_param_supported@LIBJPEG_8.0""
freeBSD 12.0-RC1

[code]
[code]

[code]
Why does this error appear and how can I fix it?

[2018-11-28 03:39] c33s commented on #46
preserving the orginal filedate would really be important.

[2018-11-28 03:47] c33s commented on #57
posting this as reference. i also have problems with ladon on windows.
[code]
it looks like the glob does not work.

as alternative to ladon there is rush: https://github.com/shenwei356/rush

[code]

[2018-11-28 03:50] c33s commented on #57
also see https://github.com/danielgtaylor/ladon/issues/9

[2019-01-22 16:22] MurKit opened #103 "Please update instructions for building dependencies"
The new version of mozjpeg uses cmake.

https://github.com/imagemin/imagemin-mozjpeg/issues/37
https://github.com/mozilla/mozjpeg/issues/314

Your project is a way for people who are not very familiar with C to use all this.
Could you please update your readme?

I used just
[code]
 But maybe for some other users it will be different.

[2019-03-16 16:25] tssajo commented on #51
@lfos Maybe a command line option should be added to store the actual q setting used.
jpeg-recompress already adds a comment to processed images! I suggest to store the q value in the comment as well.
Other than that, this issue can be closed IMO.

[2019-03-16 17:49] tssajo commented on #101
@davidenco I am not the author of this program, but I figured this one out for you.
If you look at the source code of jpeg-recompress then you can see that when no target parameter is passed via the command line then a target will be automatically set depending of the actual quality setting. Please see the source code of jpeg-recompress from line 117. You can see in there that the actual target va

[2019-03-26 17:24] vannitotaro commented on #103
Currently https://github.com/danielgtaylor/jpeg-archive/blob/master/README.md#building says:

`./configure --with-jpeg8`

so according to https://github.com/mozilla/mozjpeg/blob/master/BUILDING.md#libjpeg-v7-or-v8-apiabi-emulation you must run:

`cmake -G"Unix Makefiles" -DWITH_JPEG8=1`

[2019-06-14 07:51] andrews05 commented on #50
+1, most jpegs are still able to be optimized by mozjpeg even if they don't actually get recompressed. This would save me having to run images through jpegtran if jpeg-recompress doesn't act on them.

[2019-06-24 09:52] andrews05 opened #107 "Rotate image according to EXIF orientation before recompressing"
It would be really helpful if jpeg-recompress could automatically rotate images according to the orientation flag in the EXIF data, particularly if stripping metadata.

[2019-09-14 09:00] keeper8 opened #108 "win binaries"
Hi. Could I get binaries for win64? It's not included in latest release and appveyor.com deletes all artifacts as soon as they become 6 month old. :(

[2019-09-26 18:09] MSIVST commented on #108
[jpeg-archive-2.2.0.zip](https://github.com/danielgtaylor/jpeg-archive/files/3659244/jpeg-archive-2.2.0.zip)
From 15 July 2018

[2019-10-05 13:17] ThomasdenH opened #109 "Memory leak"
Compiling with `CFLAGS="-fsanitize=address"` will reliably crash `jpeg-hash` with
the following image file:

![index](https://user-images.githubusercontent.com/3889750/66255383-0e68ec00-e783-11e9-8a05-34ea7900150e.jpg)

[2019-10-05 16:41] zvezdochiot commented on #109
https://github.com/danielgtaylor/jpeg-archive/blob/8da4bf76b6c3c0e11e4941294bfc1857c119419b/src/hash.c#L23-L27

[code]

[2019-10-05 17:38] zvezdochiot commented on #109
I will add one more such "miss", but already "from the side":
https://github.com/danielgtaylor/jpeg-archive/blob/8da4bf76b6c3c0e11e4941294bfc1857c119419b/src/smallfry.c#L74-L81
to:
[code]
https://github.com/danielgtaylor/jpeg-archive/blob/8da4bf76b6c3c0e11e4941294bfc1857c119419b/src/smallfry.c#L96-L103
to:
[code]

[2019-10-19 08:19] zvezdochiot opened #110 "UniMetric"
Go to the more intuitive UniMetric scale:

[code]
UniMetric scale quality:
[code]
See also https://github.com/ImageProcessing-ElectronicPublications/jpeg-recompress

[2019-12-08 00:56] jlebar commented on #24
I am also hitting this.

I built with asan and `-O0 -g` and got the following

[code]

[2019-12-08 00:56] jlebar commented on #24
Here is the image that I'm crashing on -- hopefully github doesn't recompress it.  :)

![library-3](https://user-images.githubusercontent.com/150663/70382526-a7ef7e00-192b-11ea-9b90-ac57ad07a9a0.jpg)

[2019-12-08 01:03] jlebar commented on #99
I think this is a dupe of #24.

I'm seeing if I can't figure it out to fix it, and if I can't, I will send a PR to add a warning to the docs about smallfry being broken.

[2019-12-09 09:58] biltongza commented on #99
Yeah, it seems smallfry doesn't handle image dimensions that are not even. Even jpegmini crashed on it.

[2019-12-23 19:03] #24 closed

[2019-12-25 23:31] ganego opened #114 "Self-compiled Windows version of jpeg-recompress is significantly slower than GH release version"
Hi, I wanted to compile jpeg-recompress.exe myself.
I went ahead and compiled mozjpeg according to the readme from jpeg-archive. I then compiled jpeg-archive. Everything compiled fine.

Problem:
Using `jpeg-recompress smallfry` (did not test others), is significantly slower than the release build I can download from github. Compressing my test file, takes 31s instead of 19s.

- W7x64
- NASM: nasm-

[2019-12-28 01:35] ganego commented on #114
I found the issue: see "Compiler flags". Something missing... "-O3".
I added it manually and it's now as fast as the release version. Seems I somehow screwed up my whole mozjpeg source with cmake for whatever reason - a new copy now added the right compiler flags.

[2019-12-28 01:35] #114 closed

[2020-02-14 20:17] HyperDevil opened #117 "autoreconf: 'configure.ac' or 'configure.in' is required"
Trying to install mozjpef on ubuntu 19.10, but unable to generate ./configure file.

[2020-02-14 21:46] zvezdochiot commented on #117
@HyperDevil say:

This project does not use autotools. For assembly, a Makefile is used.

What are you talking about?

[2020-02-14 21:47] HyperDevil commented on #117
The instruction on this repo on how to install mozjpeg was not using cmake, so they are wrong.

[2020-02-14 21:53] zvezdochiot commented on #117
@HyperDevil say:

Not. You are wrong. And the instructions are correct.

[2020-04-02 13:10] akaleeroy opened #118 "Windows binaries unable to open paths with Unicode characters"
Say I have a file at `D:\Config\Desktop\Șmotru\test.jpg`

[code]

`Ș` gets converted to `?`, breaking the file path
I don't think it's the command prompt since `@chcp 65001>nul` does nothing.

[2020-04-02 13:30] zvezdochiot commented on #118
This is not a problem of `jpeg-recompress.exe` itself, but of the one with which the assembly was performed.

Try:
[code]

[2020-04-02 15:41] akaleeroy commented on #118
Good workaround, thanks!
I still don't get why piping in the input works... are you saying it has to do with the executable's compilation?

Anyway, here's the final compression batch file fixed of Unicode path problems:
[code]

[2020-04-02 15:41] #118 closed

[2020-04-09 10:11] qmegas commented on #117
I used installation instruction from main readme.md file:
[code]

And I also got error message like @HyperDevil described on `autoreconf -fiv` command. All other command after that also not worked as well.

[2020-04-11 17:39] TomaszGasior opened #119 "Update to GCC 10 changes"
I am packaging jpeg-archive for Fedora in my [COPR repository](https://copr.fedorainfracloud.org/coprs/tomaszgasior/mushrooms/packages/). In Fedora 32 GCC will be updated to 10 version where there is some change in default configuration, please see here: https://lists.fedoraproject.org/archives/list/devel@lists.fedoraproject.org/thread/RYVPP45PMWPXYBBDKXO3CI7YGL7CDQG6/

I am not C programmer, I ca

[2020-06-12 02:42] lanochan commented on #117
i got the same error; are you done it?

[2020-06-17 13:48] pietervanleeuwen commented on #117
I also got the _autoreconf -fiv_ error, turns out mozjpeg removed support for autotools, see https://github.com/mozilla/mozjpeg/issues/314#issuecomment-441228794

You have to use cmake, so this is what I did:

[code]

[2020-07-27 08:29] necros2k7 commented on #108
close issue

[2020-07-27 08:29] necros2k7 opened #120 "Update Release tab binary with recent commits"
subj

[2020-09-15 06:24] javiergutierrezchamorro commented on #120
+1 specially Windows builds
https://github.com/danielgtaylor/jpeg-archive/issues/108

[2020-11-10 11:33] edwinbradford commented on #120
This really confused me. All the documentation referred to _Windows precompiled binary downloads_ but I couldn't find them. They aren't included in the latest release and from what I can see the [Windows CI Build Server](https://ci.appveyor.com/project/danielgtaylor/jpeg-archive/build/messages) referred to is also broken. I eventually figured out the binaries were in the previous release. Even jus

[2021-01-11 18:39] dbkblk commented on #119
The same error occurs when building from Debian 11:
[code]

[2021-02-17 17:53] IllyaMoskvin commented on #45
I don't think this is relevant anymore, since jpeg-archive is now at v2.2.0.

[2021-02-17 17:53] #45 closed

[2021-02-26 00:42] SomeTroglodyte commented on #117
Pieter is right. I specifically came here to document the same solution. One detail: you'll also need libpng-dev which is not available by default on an out-of-the-box Mint 20.1

[2021-06-14 16:08] zvezdochiot commented on #110
no actual.

[2021-06-14 16:08] #110 closed

[2021-06-19 17:42] zeroheure commented on #119
See my PR : just add -fcommon to CFLAGS in the Makefile.

[2021-07-11 12:16] yorkane commented on #119
Thanks a lot!

[2021-09-20 14:12] xfuturomax opened #124 "Error "/opt/mozjpeg/lib/libjpeg.a: No such file or directory" on building jpeg-archive with Mozjpeg v4"
I've tried to build a docker image on alpine with version 4 of mozjpeg and got an error from subject. This is part of my Dockerfile:
[code]
Generally, is it possible to build jpeg-archive with verison 4 of mozjpeg at this moment?
I've also tried to build mozjpeg with
`-DCMAKE_INSTALL_LIBDIR=/opt/mozjpeg/lib/`
and
`ln -s /opt/mozjpeg/lib64/ /opt/mozjpeg/lib;` but unsuccessfully.

And jpeg-archive s

[2021-09-20 15:38] zvezdochiot commented on #124
❓ Maybe use `jpeg-recompress` based on the standard `libjpeg`: https://github.com/ImageProcessing-ElectronicPublications/jpeg-recompress ?

[2021-09-25 00:32] ankuPRK opened #125 "Bug in ssim calculation?"
The _iqa_convolve function doesn't output the same size array after convolution, it rather outputs a (w-kernelsize/2, h-kernelsize/2) image when a kernel of size (kernelsize, kernelsize) is convolved with an image of size (w,h). So:

https://github.com/danielgtaylor/jpeg-archive/blob/5b56afa11872fc4b9f68c5a3dcf2ec5afe869504/src/iqa/source/ssim.c#L197
^this rewrites an output of (w-kernelsize/2, h-

[2021-09-25 01:35] ankuPRK commented on #125
Okay got it h,w get updated later here: https://github.com/danielgtaylor/jpeg-archive/blob/5b56afa11872fc4b9f68c5a3dcf2ec5afe869504/src/iqa/source/ssim.c#L199

[2021-09-25 01:35] #125 closed

[2022-02-04 17:10] yellow1912 opened #127 "[Discussion] Fine tune jpeg-recompress for lower size?"
This is more of a discussion than an issue, but since I don't find the discussion tab for this repo, I hope it's okie to post it here.

I'm trying to run the same image through jpeg-recompress and shortpixel:

https://www.pexels.com/photo/close-up-photography-of-woman-s-face-with-freckles-2709386/

The image is first resize to 2560x3840, then it's sent to:
1. Shortpixel with lossy option (can be t

[2022-03-08 19:39] ganego commented on #127
Hard to say what quality you find acceptable.
I'd recommend getting WinMerge https://github.com/WinMerge/winmerge/releases/tag/v2.16.18 and checking the quality of the pics upon close zoom.

[2022-03-08 19:59] zvezdochiot commented on #127
Hi all.

You can also use [rdopt](https://github.com/ImageProcessing-ElectronicPublications/rdopt) for similar purposes.
[Discussion](https://github.com/mozilla/mozjpeg/issues/182)

[2022-03-31 21:18] ThomasLohner commented on #124
@xfuturomax for me this works on ubuntu 20.04. After this the jpeg-recompress binary is transportable because of static build:

[code]

[2022-08-08 02:36] zvezdochiot commented on #120
Hi all.

See also https://github.com/ImageProcessing-ElectronicPublications/jpeg-recompress/releases

[2022-08-08 06:03] necros2k7 commented on #120
so it`s lossy?

[2022-08-08 06:07] zvezdochiot commented on #120
@necros2k7 say:

So this `jpeg-recompress` too. Only the metrics are slightly different and used differently.